
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sicelore-nf Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.executor = 'sge'
process.memory = '44G'
process.cpus = 12
process.penv = 'smp'
process.clusterOptions = '-S /bin/bash' 

params {

    // Input options
	project 			= 'sicelore'
    readTagged 			= '/export/data/analysis/000-sclr/sclr_D490/readTagged.bam'
    barcodeassigned		= '/export/data/analysis/000-sclr/sclr_D490/BarcodesAssigned.tsv'
    
    outdir              = 'sic-nf'
    tracedir            = "${params.outdir}/pipeline_info"
    consdir				= "01.consensus"
    bamdir				= "02.mapping"
    matrixdir			= "03.matrix"
    snpsdir				= "04.snps"
    fusiondir			= "05.fusion"
	
    // Tools
	samtools			= "/export/apps/bin/samtools"
	java 				= "java"
	sicelore 			= "/export/apps/sicelore.v2/Jar/sicelore.v2.2.jar"
	minimap2 			= "/export/apps/bin/minimap2"
	
    // SAM Tags
    CELLTAG				= 'BC'
    UMITAG 				= 'U8'
    GENETAG				= 'GE'
    TSOENDTAG 			= 'TE'
    POLYASTARTTAG		= 'PS'
    CDNATAG				= 'CS'
    USTAG				= 'US'
    RNTAG				= 'RN'
	MAPQV0				= 'false'
	
	// SELECTCELLBARCODES
	MINUMI				= 0
	ED0ED1RATIO			= 0
	
	// References mapping (hg38)
	juncbed				= '/export/data/references/mapper_indexes/hg38/gencode/gencode.v38.annotation.chr.bed'
	mmi					= '/export/data/analysis/000-sclr/hg38covid.mmi'
	TMPDIR				= '/export/data/scratch/sicelore/'
	
	// ComputeConsensus
	MAXREADS			= 20
    MINPS				= 3
    MAXPS				= 20
    DEBUG				= 'false'
	
	// AddBamMoleculeTags: BC, U8, RN --> c.f. SAM Tags
	
	// AddGeneNameTag
	USE_STRAND_INFO		= 'true'
	ALLOW_MULTI_GENE_READS = 'true'
	
	// IsoformMatrix
	REFFLAT				= '/export/data/analysis/000-sclr/cellranger-GRCh38-2020-A-covid.refFlat'
    METHOD				= 'STRICT'
    DELTA				= 2
 	AMBIGUOUS_ASSIGN	= 'false'
 	MAXCLIP				= 150
 	ISOBAM				= 'true'
 	PREFIX				= 'sicelore'
 	
    email				= 'lebrigand@ipmc.cnrs.fr'
    email_on_fail       = 'lebrigand@ipmc.cnrs.fr'
    plaintext_email     = false
    monochrome_logs     = false
    help                = false
    validate_params     = true
    show_hidden_params  = false
    enable_conda        = false
 
    // Max resource options, defaults only, expecting to be overwritten
    max_memory			= '44.GB'
    max_cpus			= 20
    max_time			= '240.h'
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// Load base.config by default for all pipelines
// includeConfig 'conf/base.config'

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'ucagenomix/sicelore-nf'
    author          = 'Kevin lebrigand'
    homePage        = 'https:www.isomics.eu'
    description     = 'SIngle CEll LOng REads NextFlow'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version			= '1.0'
}






