
nextflow.enable.dsl=2

params.path = "$launchDir"
params.chromDir = "$launchDir/chromosome"
//process.executor = 'sge'

manifest {
    name            = 'ucagenomix/sicelore-nf'
    author          = 'Kevin lebrigand'
    homePage        = 'https:www.isomics.eu'
    description     = 'Pipeline for SIngle CEll LOng REads'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version = '1.0'
}