
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sicelore-nf Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.executor = 'sge'
process.memory = '44G'
process.clusterOptions = '-S /bin/bash' 

params {

    // Input options
	project 			= "sicelore"
    baminput 			= "/export/data2/000-10x-visium/000-MOB/GEUS10xAttributes.umifound_onepercent.bam"
    outdir              = 'sic-nf'
    tracedir            = "${params.outdir}/pipeline_info"
    consdir				= "01.consensus"
    bamdir				= "02.mapping"
    matrixdir			= "03.matrix"
	
    // Tools
	samtools			= "/export/apps/bin/samtools"
	java 				= "java"
	sicelore 			= "/export/data2/lebrigand/sicelore/Jar/Sicelore-2.0.jar"
	minimap2 			= "/export/apps/bin/minimap2"
	
	// References
	juncbed				= '/export/data/references/mapper_indexes/GRCm39/gencode/gencode.vM27.annotation.bed'
	mmi					= '/export/data/references/mapper_indexes/GRCm39/minimap/GRCm39.mmi'
	refflat				= '/export/data/references/mapper_indexes/GRCm39/gencode/gencode.vM27.annotation.refflat.txt'
	cellscsv			= '/export/data2/000-10x-visium/mob164315.barcodes.tsv'

    // misc
	csv					= ''
	meta				= ''

    email				= 'lebrigand@ipmc.cnrs.fr'
    email_on_fail       = 'lebrigand@ipmc.cnrs.fr'
    plaintext_email     = false
    monochrome_logs     = false
    help                = false
    validate_params     = true
    show_hidden_params  = false
    enable_conda        = false
 
    // Max resource options, defaults only, expecting to be overwritten
    max_memory	= '44.GB'
    max_cpus	= 20
    max_time	= '240.h'
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'ucagenomix/sicelore-nf'
    author          = 'Kevin lebrigand'
    homePage        = 'https:www.isomics.eu'
    description     = 'Pipeline for SIngle CEll LOng REads'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version			= '1.0'
}






